body {
    font-family: Consolas, monaco, monospace;
    overflow:hidden;
}

.fancy {
    font-family: Calligraffitti;
    font-weight:600;
    text-align:center;
}

.nav-item {
    height: 34px;
}

.nav-link {
    padding-top: 5px;
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tick {
    color:black;
    border:2px solid #343a40;
    border-radius:.25rem;
    font-size:12px;
    padding:0px 2px 0px 2px;
    margin-bottom:2px;
    max-width:90%;
}

.trip {
    width:335px;
    weight:200px;
    display:inline-block;
    margin-bottom:5px;
}

.star {
    z-index:4;
    position:absolute;
    color:white;
    opacity:.4;
}

.modal-header {
    border-bottom:1px solid black;
}

.link {
    color:black;
}

.link:hover {
    text-decoration: none;
}
